<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" tyle="text/css" href="{{url_for( 'static',filename='css/style_sheet.css')}}">

    <title>Ninja Page</title>
</head>
<body>
    <h1>Ninjas are here!</h1>
    <img src="{{url_for( 'static',filename='Ninjas/donatello.jpg')}}" alt="ninja photo">
    <img src="{{url_for( 'static',filename='Ninjas/leonardo.jpg')}}" alt="ninja photo">
    <img src="{{url_for( 'static',filename='Ninjas/michelangelo.jpg')}}" alt="ninja photo">
    <img src="{{url_for( 'static',filename='Ninjas/raphael.jpg')}}" alt="ninja photo">
</body>
</html>