<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" tyle="text/css" href="{{url_for( 'static',filename='css/style_sheet.css')}}">
    <title>Ninja {{color}} </title>
</head>
<body>
    {% if color =='purple' %}
    <img src="{{url_for('static',filename='Ninjas/donatello.jpg')}}" alt="Purple Ninja">
    {% elif color=='red' %}
    <img src="{{url_for('static',filename='Ninjas/raphael.jpg')}}" alt="Red Ninja">
    {% elif color=='orange' %}
    <img src="{{url_for('static',filename='Ninjas/michelangelo.jpg')}}" alt="Orange Ninja">
    {% elif color == 'blue' %}
    <img src="{{url_for('static',filename='Ninjas/leonardo.jpg')}}" alt="Blue Ninja">
    {% else: %}
    <img src="{{url_for('static',filename='Ninjas/notapril.jpg')}}" alt="Blue Ninja">
    {% endif %}


</body>
</html>